extends layout.pug

block content
  header
  h3(style='float:left; padding-left: 10px; color:red') #{greet}! Today is #{dt}
  // banner
  .banner
    img.bannerImg(src='img/phi-banner.jpg' alt='Boat in Beach')
    .top-left Travel Expert Philippines
    //- .bottom-right Visit the Philippines
    //
      <div class="herotext">
      <h2>Visit the Philippines</h2>
      </div>

    // Intro
  .grid-container
    .intro.p-lr
      h2 Visit the Philippines
      p
        | Vestibulum ut tempor lorem. Nam ut mi mauris. Aliquam quis viverra 
        a(href='#' target='_blank') velit.
        |  Sed egestas, velit sit amet luctus pretium, enim dolor interdum felis, at pretium tellus nibh id velit. Maecenas semper tincidunt dolor
        |                 tincidunt fringilla. Fusce bibendum nunc ac magna elementum, a ultricies nulla posuere. Cras sed lacus faucibus, ornare diam vitae, dapibus mauris. Ut ac est non lectus gravida placerat at non lectus. Nunc blandit, elit eu tempor aliquam,
        |                 mi libero fringilla nisl, non sagittis massa justo in nunc. Donec ornare sed arcu nec tempor. Duis nec ipsum varius, viverra lacus sit amet, sollicitudin arcu.
    .events.p-lr
      h4 Promotion 1
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      hr
      h4 Promotion 2
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      hr
      h4 Promotion 3
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      hr
      h4 Promotion 4
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .callouts.call1
      figure
        img(src='img/rice-terr.jpg' alt='Rice Terraces')
        figcaption Rice Terraces
    .callouts.call2
      figure
        img(src='img/mt-mayon.jpg' alt='Mount Mayon')
        figcaption Mount Mayon
    .art.p-lr
      h2 Article
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue, lorem at posuere vestibulum, magna dolor fringilla sapien, ac efficitur est risus non est. Maecenas ac eros id nibh egestas tristique. Aenean eros est, sollicitudin in
        | velit non, tempor eleifend ipsum. Suspendisse nec mattis libero. Ut id interdum nisi, ac efficitur nibh. Mauris eu mattis tellus, vitae consequat tellus. Maecenas egestas venenatis est quis ullamcorper. Sed rutrum lectus ut sem pharetra
        | bibendum. Curabitur sit amet sem eget nunc gravida dignissim.
      p
        | Nam nec eros mattis, tempor mauris in, ornare nulla. Donec elementum tellus felis, sed sodales massa euismod posuere. Nulla imperdiet fringilla purus, vel consectetur augue accumsan at. Donec porttitor purus felis, eget luctus ligula imperdiet
        | eget. Duis felis ligula, euismod vitae purus in, efficitur sodales turpis. Aenean eu neque nec mi porta viverra. Nam lectus mauris, vulputate et auctor id, imperdiet sit amet metus. Nullam viverra libero et dapibus egestas. Curabitur porttitor
        | urna vitae nisl ultrices finibus. Aliquam erat volutpat. Suspendisse eu urna scelerisque, fermentum nulla vel, euismod libero. Nullam volutpat maximus urna in auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada
        | fames ac turpis egestas. Ut dignissim rhoncus arcu.
      p
        | Cras vel elit lacus. Nulla pellentesque vel magna ac varius. Quisque rutrum pretium turpis quis tempor. Quisque venenatis congue lectus mollis sodales. Ut aliquet nec arcu eget malesuada. Pellentesque a rutrum diam. Suspendisse eleifend lorem
        | et neque rutrum blandit. Fusce vel nisl dignissim purus interdum lacinia. Nunc molestie neque posuere posuere pulvinar. Nulla nibh turpis, feugiat sed porta quis, luctus vitae mauris. Donec scelerisque nulla nec libero laoreet feugiat.
      p
        | Phasellus at massa vel nisi commodo convallis sit amet non nibh. Proin imperdiet condimentum elit, vitae tincidunt sem viverra nec. Cras eu enim id nisi tincidunt congue. Aenean mollis nibh eros, vitae faucibus neque tincidunt sed. Nullam
        | rhoncus est eget ligula molestie interdum. Vivamus nulla lectus, congue id ullamcorper a, feugiat sed nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  
  // Comment
  //- footer
  //-   p Copyright &copy; 2021
