extends layout.pug

block content
  header
    // banner
    .banner
      .herotext
        h2 About Us
        h3 Travel Expert Philippines
  // Intro
  .aboutUs
  .intro.p-lr
    p
      | Vestibulum ut tempor lorem. Nam ut mi mauris. Aliquam quis viverra 
      a(href='#' target='_blank') velit.
      |  Sed egestas, velit sit amet luctus pretium, enim dolor interdum felis, at pretium tellus nibh id velit. Maecenas semper tincidunt dolor
      |                 tincidunt fringilla. Fusce bibendum nunc ac magna elementum, a ultricies nulla posuere. Cras sed lacus faucibus, ornare diam vitae, dapibus mauris. Ut ac est non lectus gravida placerat at non lectus. Nunc blandit, elit eu tempor aliquam,
      |                 mi libero fringilla nisl, non sagittis massa justo in nunc. Donec ornare sed arcu nec tempor. Duis nec ipsum varius, viverra lacus sit amet, sollicitudin arcu.
      // map
      .map
        figure
          img(src='img/phil-map.jpg' alt='Philippines map' style='float:none;width:500px;height:500px;')
          figcaption Philippines Map
