extends layout.pug

block content
  .grid-container
    .intro.p-lr
      h2(style='color: red') Error 404: Page not found !!!
      h3 Under construction
      p 
        a(href='/') Back

    figure
      img(src='img/underconst.png' alt='Under Construction' style='padding:0px;width:350px;height:270px;')
    br
